<!-- <app-department></app-department> -->
<!-- <app-student></app-student>  -->
<div id="page" align="center">
  <div id="content" style="width:800px">

    <!-- <div class="container-fluid"> -->
    <!-- <header class="row"> -->
    <app-header class="col-lg-12"></app-header>
    <!-- </header> -->
    <!-- <nav class="row"> -->
    <app-navbar></app-navbar>
    <!-- </nav> -->
    <!-- <div class="row"> -->
    <!-- <aside class="col-lg-6"> -->
    <!-- <app-aside></app-aside> -->
    <!-- </aside> -->
    <!-- <section class="col-lg-6"> -->
    <app-section></app-section>
    <!-- </section> -->
    <!-- </div> -->
    <!-- <footer class="row"> -->
    <app-footer class="col-lg-12"></app-footer>
    <!-- </footer> -->
    <!-- </div> -->
  </div>
</div>
